<form action="/create" id="new-todo-form" method="post">
  
  <p>Create New Todo</p>  
  
  <div>
    Title: <input type="text" name="title" />
  </div>
  
  <div>
    <input type="submit" value="Save"/>      
  </div>

</form>